{% extends 'index.html' %}

{% block 'body' %}
<style>
        .button {
        width: 80px;
        background-color: #0078d4;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>

<h2 align="center" style="color: red;">{{ message }}</h2>

<h3 align="center"><u>Admin Login</u></h3>

<br>

<center>

<form method="post" action="{% url 'checkadminlogin' %}">

    {% csrf_token %}

    <table align="center" width="25%" height="20%">

        <tr>
            <td>
                <label for="uname">Enter Username</label>
            </td>
            <td>
                <input type="text" name="uname" id="uname" required/>
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>

        <tr>
            <td></td>
        </tr>

        <tr>
            <td>
                <label for="pwd">Enter Password</label>
            </td>
            <td>
                <input type="password" name="pwd" id="pwd" required/>
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>

        <tr>
            <td></td>
        </tr>

        <tr align="center">
            <td>
                <input type="submit" value="Login" class="button"/>
            </td>
            <td>
                <input type="reset" value="Clear" class="button"/>
            </td>
        </tr>
    </table>
</form>

</center>

{% endblock %}
